<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Leilão</title>
  </head>
  <body>
    <h1>Aplicação REST de leilão</h1>
    <p id="demo">
      <a href="https://youtu.be/LzIBUT-swd8?si=uhWCpOKoXIceA5Sc" target="_blank">
        Leilão
      </a>
    </p>
    <button type="button" onclick="buscaLeiloes()">Buscar</button>
    <button type="button" onclick="window.location.href='/cadastra_leilao'">
      Criar leilão
    </button>
    <button type="button" onclick="window.location.href='/lance'">
      Fazer Lance
    </button>

    <hr />

    <!-- Script principal -->
    <script src="/static/script.js"></script>
  </body>
</html>
